@charset "utf-8";

/* header */
#header {border-bottom: 1px solid #ddd;}
#header .inner {height: 150px; position: relative;}
#header h1 {position: absolute; left: 0; top: 45px;}
#header h1 img {height: 70px;}
#header .gnb {position: absolute; right: 0; top: 50px;}
#header .gnb > li {float: left;}  
#header .gnb > li > a{display: block; padding: 30px; font-size: 24px;}
#header .util {position: absolute; right: 0; top: 20px;}
#header .util li {float: left; padding: 0 20px;}
#header .util li a {color: #f24738;}

/* dp2 */
#header .gnb .dp2 { z-index: 999; background: #fff; text-align: center; border: 1px solid #ddd;  position: absolute; top: 100px; width: 150px;}
#header .gnb .dp2 li a{display: block; padding: 10px 0; transition: background .2s, color .2s;}
#header .gnb .dp2 li a:hover {background: #f24738; color: #fff;}

/* main_slide */
#main_slide .ms {position: relative; }
/* Arrows */
#main_slide .slick-prev,#main_slide .slick-next {
    z-index: 99;
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 60px;
    height: 60px;
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: rgba(0,0,0,.3);
    border-radius: 50%;
}

#main_slide .slick-prev:before {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(-135deg);
    position: absolute;
    left: 20px;
    top: 18px;}

#main_slide .slick-next:before {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    left: 15px;
    top: 18px; }

#main_slide .slick-prev:hover,#main_slide .slick-next:hover { opacity: .5; }
#main_slide .slick-prev { left: 200px;}
#main_slide .slick-next { right: 200px;}

/* Dots */
#main_slide .slick-dots { position: absolute; bottom: 40px; display: block; width: 60px; padding: 0; margin: 0; left: 50%; transform: translateX(-50%);}
#main_slide .slick-dots li { position: relative; display: inline-block; width: 10px; height: 10px; background: #fff; padding: 0; opacity: 0.2; margin-left: 15px; cursor: pointer; border-radius: 50%; }
#main_slide .slick-dots li:first-child{margin-left: 0;}
#main_slide .slick-dots li button { display: block; padding: 5px; cursor: pointer; color:transparent; border: 0; outline: none; background: transparent; }
#main_slide .slick-dots li.slick-active {opacity: 1;}

/* why */
#why {padding: 200px 0;}
#why .why_img {float: left;}
#why .why_desc {float: right; width: 480px; padding-top: 160px;}
#why .why_desc h2{display: block; font-size: 40px; color:#f24738; text-align: right; border-right:6px solid #f24738; padding-right: 30px;font-weight: 600; margin-bottom: 50px;}
/* #why .why_desc .why_txt {font-size: 18px;} */

/* ready */
#ready {background: rgba(242, 71, 56,.95); text-align:center;}
#ready h2 { font-size: 40px; color: #fff; font-weight: 600; border-bottom: 5px solid #2e2473; padding-top: 110px; display: inline-block;}
#ready .ready_list {padding: 100px 0;}
#ready .ready_list > li {float: left; margin-left: 120px; width: calc((100% - 240px)/3);}
#ready .ready_list > li:nth-child(1) {margin-left: 0}
#ready .ready_list dl dt { margin: 30px 0 20px; font-size: 24px; font-weight: 600; color: #f24738; background: #fff; padding:2px 23px; border-radius: 20px; display: inline-block;}
#ready .ready_list dl dd { color: #f2f2f2;}

/* info */
#info {background: #f2f2f2; padding: 250px 0 170px;}
#info .inner {width: 900px;}
#info h2 { font-size: 40px; color: #f24738; font-weight: 600; text-align: center;}
#info .comment { text-align: center; color: #333; padding: 10px 0 50px;}

#info ul li {cursor: pointer; background: #f24738; margin-bottom: 20px;  width: 280px; height: 150px; transition: background .2s, border .2s;}
#info ul li:nth-child(2) { margin-bottom: 0; }
#info .info_left {float: left; border-left: 10px solid #2e2473; padding-left: 25px;}
#info .info_icon {float: left; padding:20px 0 0 50px;}
#info .info_right {float: right; border-right: 10px solid #2e2473; padding-right: 25px;}

#info ul li .type {color: #fff; font-size: 30px; text-align: center; transform: translateY(53px); transition: opacity .2s;}

#info .info_left dl, #info .info_right dl {opacity: 0; padding: 20px; color: #f24738; transition: opacity .2s; text-indent: -9999px;}
#info .info_left dl dt, #info .info_right dl dt {font-size: 24px; border-bottom: 1px solid #f24738;}
#info .info_left dl dd, #info .info_right dl dd { color: #f24738; padding-top: 20px;}

#info ul li:hover {background: #fff; border: 1px solid #f24738;}
#info ul li:hover .type {opacity: 0; font-size: 0;}
#info ul li:hover dl{opacity: 1; text-indent: 0;}

/* gift */
#gift { text-align: center; padding-bottom: 200px; background: #f2f2f2;}
#gift h3 {font-size: 30px;}
#gift .gift_eng {color: #666; letter-spacing: 6px; white-space: pre;}

#gift .gift_list {padding-top: 60px; width: 720px; left: 50%; transform: translateX(-50%); position: relative;}
#gif .gift_list li {width: 280px;}
#gift .gift_list .gift_img {width:280px; height: 170px; padding-top: 10px; transform: translateX(50px);}
#gift .gift_list p {display: inline-block; color: #666; padding-top: 10px;}



#gift .gift_comment {color: #666; padding-top: 90px;}

/* Arrows */
#gift .slick-prev,#gift .slick-next { font-size: 0; line-height: 0; position: absolute; top: 50%;transform: translateY(-50%);left: 0; z-index: 999; display: block; width: 45px; height: 45px; cursor: pointer; outline: none;  border-top: 1px solid #2e2473; border-right: 1px solid #2e2473; border-left: 0; border-bottom: 0; background: transparent;}
#gift .slick-prev:hover,#gift .slick-prev:focus,#gift .slick-next:hover,#gift .slick-next:focus { opacity: 1; }
#gift .slick-prev {  transform: translateX(-90px) rotate(-135deg);}
#gift .slick-next {  transform: translateX(800px) rotate(45deg);}
/* Dots */
#gift .slick-dots { position: absolute; bottom: -60px; display: block; width: 60px; padding: 0; margin: 0; left: 50%; transform: translateX(-50%);}
#gift .slick-dots li { position: relative; display: inline-block; width: 10px; height: 10px; background: #f24738; padding: 0; opacity: 0.2; margin-left: 15px; cursor: pointer; border-radius: 50%; }
#gift .slick-dots li:first-child{margin-left: 0;}
#gift .slick-dots li button { display: block; padding: 5px; cursor: pointer; color:transparent; border: 0; outline: none; background: transparent; }
#gift .slick-dots li.slick-active {opacity: 1;}

/* sub_visual */
#sub_visual { height: 500px; background: url('../images/main/subvisual.jpg')no-repeat center top; background-size: cover; text-align: center; color: #fff; text-shadow: 5px 5px 10px rgba(0,0,0,.2);}
#sub_visual h3 { font-size: 60px; font-weight: 600; padding: 175px 0 10px;}
#sub_visual p { font-size: 40px; letter-spacing: 16px; white-space: pre;}

/* act */
#act {padding: 200px 0 100px;}
#act .act_desc {text-align: right;}
#act .act_desc h2 {font-size: 40px; color: #f24738; font-weight: 600;}
#act .act_desc p {padding: 10px 0 30px;}
#act .act_desc .btn_more {display: inline-block; color: #f24738; border: 1px solid #f24738; padding: 12px 40px; transition: background .2s; color: .2s;}
#act .act_desc .btn_more:hover {background: #f24738; color: #fff;}

#act .act_list li {padding-bottom: 100px;}
#act .act_list li:nth-child(2) {text-align: right;}

#act .act_list li:nth-child(1) dl,#act .act_list li:nth-child(3) dl { border-left: 5px solid #2e2473; padding-left: 30px; transform: translate(580px,-160px);}
#act .act_list li:nth-child(2) dl {text-align: right; border-right: 5px solid #2e2473; padding-right: 30px; transform: translate(-580px,-160px);}

#act .act_list dl dt{ font-size: 30px; color: #2e2473; font-weight: 600;}
#act .act_list dl dd{ font-size: 20px; color: #666;}

/* promotion */
#promotion { background: #f2f2f2;  padding: 150px 0;}

#promotion .promo_desc {float: left;}
#promotion .promo_desc h2 {font-size: 40px; color: #f24738; font-weight: 600;}
#promotion .promo_desc p {padding: 10px 0 30px;}
#promotion .promo_desc .btn_more {display: inline-block; color: #f24738; border: 1px solid #f24738; padding: 12px 40px; transition: background .2s; color: .2s;}
#promotion .promo_desc .btn_more:hover {background: #f24738; color: #fff;}

#promotion .promo_movie {float: right;}
#promotion .promo_movie iframe { border: none;}

/* footer */
#footer {padding: 50px 0; background: #2e2473; color: #f2f2f2;}
#footer .inner {height: 100px; position: relative;}
#footer .footer_logo {position: absolute; left: 0; top: 0;}
#footer .footer_link {position: absolute; left: 100px; top: 0;}
#footer .footer_link li {float: left; margin-right: 20px;}
#footer .footer_link li a { color: #f2f2f2; opacity: .5;}
#footer address {position: absolute; left: 100px; top: 45px; opacity: .5;}
#footer .copy {position: absolute; left: 100px; top: 75px; opacity: .5;}

#footer .footer_sns {position: absolute; right: 0; top: 0;}
#footer .footer_sns li {float: left; margin-left: 15px;}

/* gotop */
.gotop { position: fixed; right:80px; bottom: 60px; cursor: pointer;}