@charset "utf-8";

/* wrap */
#wrap {background: #f2f2f2;}

/* header */
#header { height: 1000px; background: url('../images/top_bg.png')no-repeat center top;}
#header .inner {position: relative;}
#header h1 {position: absolute; right: 0; top: 80px;}
#header dl {position: absolute; right: 0; top: 600px; color: #fff;}
#header dl dt {font-size: 24px; font-weight: 600; padding-bottom: 10px;}
#header dl dd {font-size: 18px; }

#header .btn {position: absolute; right: 318px; top: 810px; font-size: 20px; color: #fff; border: 1px solid #fff; padding: 10px 40px; transition: color 0.2s, background 0.2s; border-radius: 10px;} 
#header .btn:hover {color: #F14738; background: #fff;}

#header .tool {position: absolute; right: 0; top: 810px; }
#header .tool li {float: left; font-size: 20px; font-weight: 800; padding: 10px 15px; background: #fff; color: #F14738; border-radius: 10px; margin-left: 10px;}
#header .tool li:nth-child(1) {color: #fff; background: transparent; border-radius: none;  padding: 0; text-transform: uppercase; font-size: 16px;}

#header p { color: #fff; position: absolute; right: 0; top: 920px; font-size: 18px; }


/* contents */
#contents h2 {color: #333; font-size: 40px; font-weight: 600; text-transform: uppercase; background: url('../images/title_icon.png') no-repeat 0 10px; padding-left: 50px; display: inline-block;}
#contents h3 { color: #333; font-size: 30px; font-weight: 600;}

/* keyword */
#keyword {padding: 400px 0;}
#keyword h2 { transform: translateX(840px);}
#keyword .keyword_img {width: 100%; height: 475px; background: url('../images/keyword.png')no-repeat center top; margin-top: 150px;}

/* concept */
#concept {}
#concept h2{transform: translateX(410px);}
#concept .con_txt {color: #333; font-size: 18px; text-align: center; padding: 20px 0 250px;}

#concept ul { padding: 100px 0;}
#concept ul .typo {width: 600px; float: left; }
#concept ul .typo .typo_box { padding-top: 80px; font-size: 24px;}

#concept ul .typo .typo_box .kr { padding-right: 60px; border-right: 1px solid #ddd; height: 200px; display: block; float: left; font-family: 'Noto Sans CJK KR';}
#concept ul .typo .typo_box .en {display: block; float: left; padding-left: 60px;}
#concept ul .typo .typo_box .tit {padding: 20px 0 ; text-align: center;}
#concept ul .typo .typo_box .bold {font-weight: 600; padding-top: 10px;} 
#concept ul .color {width: 480px; float: right;}
#concept ul .color h3 { padding-bottom: 40px;}

#concept .icon {}
#concept .icon h3{ text-align: center; padding-bottom: 40px;}
#concept .icon img{margin: 0 calc((1200px - 955px)/2);}

/* wireframe */
#wireframe {padding:300px 0 500px; background: url('../images/wireframe_bg.png')no-repeat center 300px;}
#wireframe h2{transform: translateX(820px); padding-bottom: 40px;}
#wireframe .wf_list {}
#wireframe .wf_list li{float: left; margin-left: 20px; width: calc((100% - 40px)/3); box-shadow: 5px 5px 10px rgba(0,0,0,0.2);}
#wireframe .wf_list li:nth-child(1){ margin-left: 0; margin-top: 200px;}
#wireframe .wf_list li:nth-child(3) {margin-top: 440px;}

/* info */
#info dl {color: #666;}
#info dl dt {font-size: 24px; font-weight: 600;}
#info dl dd {font-size: 18px; }

/* info main */
#info .main .main_img{float: left; transform: translateX(-25px);}

#info .main .main_desc{float: right; margin-left: 80px; width: 350px;}
#info .main .main_desc .header {padding: 30px 0 35px;}
#info .main .main_desc .m_about {padding: 40px 0 900px;}
#info .main .main_desc .con_act {padding: 65px 0 670px;}
#info .main .main_desc .mov {padding-bottom: 110px;}

/* info abo */
#info .abo {padding:300px 0 150px;}
#info .abo h2 {transform: translateX(900px);}

#info .abo .abo_txt{float: left; margin-right: 80px; width: 350px;text-align: right;}
#info .abo .abo_txt .abo_tit { padding:85px 0 185px}
#info .abo .abo_txt .members { padding:740px 0 100px}

#info .abo .abo_img{float: right; transform: translateX(20px); }

/* info house */
#info .house h2 {transform: translateX(995px)}

#info .house .house_txt{float: left; margin-right: 80px; width: 350px;text-align: right;}
#info .house .house_txt .house_tit {padding: 120px 0 130px;}
#info .house .house_txt .house_foot {padding-top: 830px;}

#info .house .house_img{float: right; transform: translateX(35px); }


/* mockup */
#mockup {margin-top: 250px; position: relative; height: 1900px; background: url('../images/mkup_bg.png')no-repeat center bottom;}
#mockup .screen {position: absolute; left: 0; bottom: 0; line-height: 0;}